body {
	display: flex;
	flex-direction: column;
}

.calculator-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

p {
	margin: 0 auto;
	margin-top: 25px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
}

output {
	margin: 0 auto;
	margin-top: 25px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
}

.btn {
	margin-left: 5px;
	padding: 10px 30px;
	font-size: 25px;
	margin-top: 20px;
}

.btn:hover {
	background-color: rgb(187, 142, 199);
}

input {
	margin: 0 auto;
	margin-top: 20px;
	/* margin-left: 20px; */
	background-color: rgb(226, 213, 244);
	/* pointer-events: none; */
	cursor: default;
	padding: 10px;
	font-size: 20px;
}
